.box{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows: 100px 70px 500px 200px;
}
.header{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #020120;
    color:white;
    border:1px solid black;

}
    .search-container {
      margin: 20px;
    }

    .search-container input[type="search"] {
      padding: 8px;
      width: 250px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    .search-container button {
      padding: 8px 12px;
      background-color: #f7b35b;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    .search-container button:hover {
      background-color: #0F1111;
    }
.subheader{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(29, 29, 68);
    color: white;
    border: 1px white;
    hover:blue;

}
.box1{
border: 1px dotted rgb(53, 29, 158);
background-color: rgba(255, 255, 255, 0.89);
display: grid;
grid-template-columns: repeat(2,1fr);
grid-template-rows: repeat(2,1fr);
/* grid-column-start: 1;
grid-column-end: 4;
grid-row-start: 1;
grid-row-end: 2; */
gap: 10px;
padding:20px;
}
.box11{
width: 150px;
height: 150px;
border: 1px solid rgb(79, 56, 211);
background-color: chartreuse;
margin-top: 20px;
margin-left: 10px;


}

.box12{
    width: 150px;
height: 150px;
border: 1px solid rgb(51, 45, 158);
background-color:bisque;
margin-top: 20px;
}
.box13{
    width: 150px;
height: 150px;
border: 1px solid rgb(52, 45, 184);
background-color:cornsilk;
margin-left: 10px;
}

.box14{
    width: 150px;
height: 150px;
border: 1px solid rgb(47, 38, 124);
background-color:darkgrey
}
.box2{

border: 1px dotted rgb(76, 49, 198);
background-color: white;
display: grid;
grid-template-columns: repeat(2,1fr);
grid-template-rows: repeat(2,1fr);
gap: 10px;
padding:20px;
}
.box21{
width: 150px;
height: 150px;
border: 1px solid red;
background-color: chartreuse;
margin-top: 20px;
margin-left: 10px;


}

.box22{
    width: 150px;
height: 150px;
border: 1px solid red;
background-color:bisque;
margin-top: 20px;
}
.box23{
    width: 150px;
height: 150px;
border: 1px solid red;
background-color:cornsilk;
margin-left: 10px;
}

.box24{
    width: 150px;
height: 150px;
border: 1px solid red;
background-color:darkgrey
}
.box3{
border: 1px dotted red;
background-color: white;
display: grid;
padding:20px;
grid-template-columns: repeat(2,1fr);
grid-template-rows: repeat(2,1fr);
gap: 10px;
}
.box31{
width: 150px;
height: 150px;
border: 1px solid red;
background-color: chartreuse;
margin-top: 20px;
margin-left: 10px;


}

.box32{
    width: 150px;
height: 150px;
border: 1px solid red;
background-color:bisque;
margin-top: 20px;
}
.box33{
    width: 150px;
height: 150px;
border: 1px solid red;
background-color:cornsilk;
margin-left: 10px;
}

.box34{
    width: 150px;
height: 150px;
border: 1px solid red;
background-color:darkgrey
}
.box4{
border: 1px dotted red;
background-color: white;
display: flex;
padding:20px;
grid-template-columns: repeat(2,1fr);
grid-template-rows: repeat(2,1fr);
gap:10px;
}
.box41{
width: 350px;
height: 150px;
border: 1px dotted red;
background-color: white;
margin-top: 20px;
margin-left: 10px;
}
.button{
    padding: 8px 12px;
    background-color: rgb(216, 173, 33);
}

.box43{
width: 350px;
height: 250px;
border: 1px solid red;
background-color:cornsilk;
margin-left: 10px;
}

.footer{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: #f7b35b;
}